.env
composer.lock
.idea/
.Build
.php_cs.cache
vendor/
/public/typo3
/public/fileadmin
/public/typo3temp
/public/uploads
/public/index.php
/public/.htaccess
/public/typo3conf/PackageStates.php
/public/typo3conf/l10n/
/public/typo3conf/ext/gridelements/
/public/typo3conf/ext/mask/
/public/typo3conf/ext/min/
/public/typo3conf/ext/staticfilecache/
/public/typo3conf/ext/t3monitoring_client/
/var/
!/var/tests/.gitkeep
/tests/Acceptance/Support/_generated
deploy_rsa