<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <div class="owl-carousel" data-slider-id="{data.uid}" id="owl-carousel{data.uid}">
        <f:for as="data_item" each="{data.tx_mask_headerslider}">
            <div class="item">
                <picture>
                    <source media="(min-width: 1600px)"
                            srcset="{f:uri.image(src:'{data_item.tx_mask_headerpic.0.uid}',treatIdAsReference:'1',cropVariant:'default',maxWidth: '1920')}">
                    <source media="(max-width: 1199px) and (min-width:992px)"
                            srcset="{f:uri.image(src:'{data_item.tx_mask_headerpic.0.uid}',treatIdAsReference:'1',maxWidth:'1200',cropVariant:'desktop-md')}">
                    <source media="(max-width: 991px) and (orientation:portrait)"
                            srcset="{f:uri.image(src:'{data_item.tx_mask_headerpic.0.uid}',treatIdAsReference:'1',width:'991m',cropVariant:'tablet-portrait')}">
                    <source media="(max-width: 991px) and (orientation:landscape)"
                            srcset="{f:uri.image(src:'{data_item.tx_mask_headerpic.0.uid}',treatIdAsReference:'1',width:'991m',cropVariant:'tablet-landscape')}">
                    <source media="(max-width: 767px) and (orientation:portrait)"
                            srcset="{f:uri.image(src:'{data_item.tx_mask_headerpic.0.uid}',treatIdAsReference:'1',width:'767m',cropVariant:'smartphone-portrait')}">
                    <source media="(max-width: 767px) and (orientation:landscape)"
                            srcset="{f:uri.image(src:'{data_item.tx_mask_headerpic.0.uid}',treatIdAsReference:'1',width:'767m',cropVariant:'smartphone-landscape')}">
                    <f:image alt="{data_item.tx_mask_headerpic.0.alternative}"
                             class="image-embed-item img img-fluid"
                             crop="{data_item.tx_mask_headerpic.0.crop}"
                             src="{data_item.tx_mask_headerpic.0.uid}"
                             title="{data_item.tx_mask_headerpic.0.title}"
                             width="1920m"
                             treatIdAsReference="1" />
                </picture>
                <span class="header-overlay">
                    <div class="container">
                         <span class="headertitle p-3 clfo-white clbg-black">
                            <f:format.nl2br>{data_item.tx_mask_headertitle}</f:format.nl2br>
                         </span>
                    </div>
                </span>
                <f:if condition="{data_item.tx_mask_headerteaser}">
                    <span class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block frame-space-before-extra-small">
                        <f:format.nl2br>{data_item.tx_mask_headerteaser}</f:format.nl2br>
                    </span>
                </f:if>
                <f:if condition="{data_item.tx_mask_headerlink}">
                    <f:link.typolink class="btn btn-primary" parameter="{data_item.tx_mask_headerlink}">
                        {data_item.tx_mask_linkbutton}
                    </f:link.typolink>
                </f:if>
                <div class="overflow-cut">
                    <div class="clbg-blue overlay"></div>
                </div>
            </div>
        </f:for>
    </div>
</html>
