<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <div class="infobox d-flex flex-column p-4 clbg-red clfo-white mb-3 h-100 justify-content-center">
        <f:if condition="{data.header}">
            <span class="h3">
                <f:format.nl2br>{data.header}</f:format.nl2br>
            </span>
        </f:if>

        <f:if condition="{data.tx_mask_datumundeinlass}">
            <span class="datetimeentrance">
                <b>Datum:</b> <f:format.date
                    format="d.m.Y">{data.tx_mask_datumundeinlass}</f:format.date><br />
                <b>Beginn:</b> <f:format.date
                    format="H:i">{data.tx_mask_datumundeinlass}</f:format.date>&nbsp;Uhr
            </span>
        </f:if>
        <f:if condition="{data.tx_mask_location}">
            <span class="location my-3">
                <f:format.nl2br>{data.tx_mask_location} </f:format.nl2br>
            </span>
        </f:if>
        <f:if condition="{data.tx_mask_location}">
            <span class="address">
               {data.tx_mask_street} {data.tx_mask_adressnumber}
            </span>
        </f:if>
        <f:if condition="{data.tx_mask_location}">
            <span class="zip">
               {data.tx_mask_zip} {data.tx_mask_city}
            </span>
        </f:if>
        <f:if condition="{data.tx_mask_gmapsembedd}">
            <div id="map" class="my-3"></div>
            <script>

              function initMap() {
                var myLatLng = {lat: <f:format.raw>{data.tx_mask_gmapslat}</f:format.raw>, lng: <f:format.raw>{data.tx_mask_gmapslot}</f:format.raw>};

                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 11,
                  center: myLatLng
                });

                var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map,
                });
              }
            </script>
        </f:if>

        <f:if condition="{data.tx_mask_price}">
            <span class="price text-nowrap mb-3">
                <b>Ticketpreis:</b><br />{data.tx_mask_price -> f:format.currency(thousandsSeparator: ',', currencySign: 'EUR')}
            </span>
        </f:if>
        <f:if condition="{data.tx_mask_pricereduced}">
            <span class="pricereduced text-nowrap mb-3">
                <b>Ticketpreis (reduziert):</b><br />{data.tx_mask_pricereduced -> f:format.currency(thousandsSeparator: ',', currencySign: 'EUR')}
            </span>
        </f:if>

        <f:if condition="{data.tx_mask_priceinformation}">
            <span class="priceinformation mb-3">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_priceinformation}</f:format.html>
            </span>
        </f:if>
        <f:if condition="{data.tx_mask_contactphone}">
            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{data.tx_mask_contactphone}
        </f:if>

        <f:if condition="{data.tx_mask_contactmail}">
            <i class="fa fa-email" aria-hidden="true"></i>&nbsp;<f:link.email email="{data.tx_mask_contactmail}" class="clfo-white">E-Mail Kontakt</f:link.email>
        </f:if>

    </div>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Event",
            "name": "<f:format.raw><f:format.nl2br>{data.header}</f:format.nl2br></f:format.raw>",
            "startDate": "<f:format.raw>{data.tx_mask_datumundeinlass -> f:format.date(format:'Y-m-d')}T{data.tx_mask_datumundeinlass -> f:format.date(format:'H:i')}</f:format.raw>",
            "location": {
                "@type": "Place",
                "name": "<f:format.raw>{data.tx_mask_location}</f:format.raw>",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "<f:format.raw>{data.tx_mask_street} {data.tx_mask_adressnumber}</f:format.raw>",
                    "addressLocality": "<f:format.raw>{data.tx_mask_city}</f:format.raw>",
                    "postalCode": "<f:format.raw>{data.tx_mask_zip}</f:format.raw>",
                    "addressRegion": "<f:format.raw>{data.tx_mask_region}</f:format.raw>",
                    "addressCountry": "<f:format.raw>{data.tx_mask_country}</f:format.raw>"
                }
            },
            "description": "",
            "offers": {
                "@type": "Offer",
                "url": "<f:format.raw>{f:uri.page(pageUid:data.pid,absolute:1)}</f:format.raw>",
                "price": "<f:format.raw>{data.tx_mask_price}</f:format.raw>",
                "priceCurrency": "EUR",
                "availability": "https://schema.org/InStock",
                "validFrom": "<f:format.raw>{data.crdate -> f:format.date(format:'Y-m-d')}T00:01}</f:format.raw>"
            },
            "performer": {
                "@type": "PerformingGroup",
                "name": "Junger Kammerchor Siegen-Süd"
            }
        }
    </script>

</html>


