<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <div class="form-group {f:if(condition: '{validationResults.errors.0}', then: ' has-error')}">
            <div class="row">
                <f:if condition="{doNotShowLabel} != 1">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                        <label class="control-label  control-label h5"
                               for="{element.uniqueIdentifier}">{formvh:translateElementProperty(element: element,
                            property:
                            'label')}
                            <f:if condition="{element.required}">
                                <f:render partial="Field/Required" />
                            </f:if>
                        </label>
                    </div>
                </f:if>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 offset-sm-5 offset-md-0">
                    <div class="{element.properties.containerClassAttribute}  d-flex">
                        <f:format.raw>
                            {elementContent}
                            <f:if condition="{validationResults.flattenedErrors}">
					<span class="error help-block col" role="alert">
						<f:for as="error" each="{validationResults.errors}">
							{formvh:translateElementError(element: element, code: error.code, arguments: error.arguments, defaultValue: error.message)}
							<br />
						</f:for>
					</span>
                            </f:if>
                        </f:format.raw>
                        <f:if condition="{element.properties.elementDescription}">
                            <span class="help-block col pl-0">{formvh:translateElementProperty(element: element, property: 'elementDescription') -> f:format.raw()}</span>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </f:form.validationResults>
</html>
